@font-face {
  font-family: 'Ra-Mono';
  src: local('Ra-Mono'), url('./fonts/Ra-Mono/Ra-Mono.otf');
}

body {
  margin: 0;
  font-family: 'Ra-Mono';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.timer-card-component {
  background-color: #222;
  font-family: 'Ra-Mono';
  border: 1px solid;
  border-radius: 10px;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 325px;
}

.timer-card-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.timer-card {
  list-style-type: disc;
  text-transform: uppercase;
  margin-block-start: 1em;
  margin-block-end: 1em;
  justify-content: center;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

.timer-card-element {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.timer-card-money {
  text-align: left;
  display: flex;
  padding-left: 10px;
}

.timer-card-unit {
  font-size: 14px;
}

.color-green {
  color: limegreen;
}

.color-yellow {
  color: gold;
}

.color-blue {
  color: #209cee;
}

.color-pink {
  color: pink;
}

.border-color-green {
  border-color: limegreen;
}

.border-color-yellow {
  border-color: gold;
}

.border-color-blue {
  border-color: #209cee;
}

.border-color-pink {
  border-color: pink;
}

.new-timer {
  text-align: center;
}

.new-timer-separator {
  display: inline;
  font-size: 16px;
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
  margin-right: 5px;
}

h1 {
  color: #aaff55;
  font-size: 40px;
  margin-bottom: 5px;
}

h2 {
  margin: 0;
}

h3 {
  color: #aaff55;
}

li span {
  font-size: 50px;
  font-weight: bold;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container-timers {
  display: flex;
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.money-value {
  padding-right: 10px;
  font-weight: bold;
}

.money-title {
  flex-grow: 1;
}

.remove-timer {
  margin-top: 10px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-flex-20 {
  margin-right: 20px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.flex-child {
  border: 1px solid black;
  padding: 10px;
  background-color: #222;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.warning {
  color: orange;
  padding-top: 10px;
  font-size: 16px;
}

.information {
  color: green;
  padding-top: 10px;
  font-size: 16px;
}

.ribbon-container {
  position: relative;
}

.ribbon-child {
  /* adjust the below to control the shape */
  --d: 5px;
  --w: 150px;
  --c: rgb(227, 53, 5);
  /**/

  position: absolute;
  top: 0;
  right: 0;
  transform: translate(29.29%, -100%) rotate(45deg); /* 29.29% = 100%*(1 - cos(45deg)) */
  color: #fff;
  text-align: center;
  width: var(--w);
  transform-origin: bottom left;
  padding: 5px 0 calc(var(--d) + 5px);
  background: linear-gradient(rgba(0, 0, 0, 0.6) 0 0) bottom/100% var(--d) no-repeat var(--c);
  clip-path: polygon(
    0 100%,
    0 calc(100% - var(--d)),
    50% calc(100% - var(--d) - var(--w) / 2),
    100% calc(100% - var(--d)),
    100% 100%,
    calc(100% - var(--d)) calc(100% - var(--d)),
    var(--d) calc(100% - var(--d))
  );
}

.all-timers {
  margin-top: 10px;
}

.money-input {
  font-family: 'Ra-Mono';
  text-align: center;
}

.time-equivalent {
  display: flex;
  text-align: left;
}

.time-equivalent-card {
  min-width: 300px;
}

input {
  font-family: 'Ra-Mono';
  font-size: 16px;
  text-align: center;
}

button {
  font-family: 'Ra-Mono';
  font-size: 16px;
  text-align: center;
}

select {
  font-family: 'Ra-Mono';
  font-size: 16px;
  text-align: center;
}

#faq {
  max-width: 900px;
}

.question {
  color: #aaff55;
  cursor: pointer;
  margin-bottom: 5px;
  font-weight: bold;
}

.question:hover {
  color: #73d90d;
}

.answer {
  margin-bottom: 20px;
  text-align: justify;
}

@media screen and (max-width: 801px) {
  .flex-container {
    flex-direction: column;
  }

  .margin-flex-20 {
    margin-bottom: 20px;
    margin-right: 0px;
  }

  .flex-child {
    min-width: 350px;
  }
}

@media screen and (max-width: 401px) {
  .flex-child {
    min-width: 300px;
  }

  .timer-card-component {
    width: 300px;
  }
}

@media screen and (max-width: 351px) {
  .flex-child {
    font-size: 14px;
    min-width: 250px;
  }

  .timer-card-component {
    width: 250px;
  }

  .timer-card-component {
    font-size: 16px;
  }

  button {
    font-size: 14px;
  }

  input {
    font-size: 14px;
  }

  select {
    font-size: 14px;
  }
}
