@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ra-Mono';
  src: local('Ra-Mono'), url('./fonts/Ra-Mono/Ra-Mono.otf');
}

body {
  margin: 0;
  font-family: 'Ra-Mono';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.timer-card-component {
  background-color: #222;
  font-family: 'Ra-Mono';
  width: 325px;
}

.timer-card {
  list-style-type: disc;
  text-transform: uppercase;
  margin-block-start: 1em;
  margin-block-end: 1em;
  justify-content: center;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

.ribbon-child {
  /* adjust the below to control the shape */
  --d: 5px;
  --w: 150px;
  --c: rgb(227, 53, 5);
  /**/

  position: absolute;
  top: 0;
  right: 0;
  transform: translate(29.29%, -100%) rotate(45deg); /* 29.29% = 100%*(1 - cos(45deg)) */
  color: #fff;
  text-align: center;
  width: var(--w);
  transform-origin: bottom left;
  padding: 5px 0 calc(var(--d) + 5px);
  background: linear-gradient(rgba(0, 0, 0, 0.6) 0 0) bottom/100% var(--d) no-repeat var(--c);
  clip-path: polygon(
    0 100%,
    0 calc(100% - var(--d)),
    50% calc(100% - var(--d) - var(--w) / 2),
    100% calc(100% - var(--d)),
    100% 100%,
    calc(100% - var(--d)) calc(100% - var(--d)),
    var(--d) calc(100% - var(--d))
  );
}

.money-input {
  font-family: 'Ra-Mono';
}

input {
  font-family: 'Ra-Mono';
  font-size: 16px;
  border-radius: 10px;
  text-align: center;
}

select {
  border-radius: 10px;
  font-family: 'Ra-Mono';
  font-size: 16px;
  padding: 5px;
  text-align: center;
}

#faq {
  max-width: 900px;
}

.question {
  color: #aaff55;
  cursor: pointer;
  margin-bottom: 5px;
  font-weight: bold;
}

.question:hover {
  color: #73d90d;
}

.answer {
  text-align: justify;
}

.yt-video {
  color: white;
}

@media screen and (max-width: 401px) {
  .timer-card-component {
    width: 300px;
  }

  .question {
    text-align: left;
  }

  .answer {
    text-align: left;
  }
}

@media screen and (max-width: 351px) {
  .timer-card-component {
    font-size: 16px;
    width: 250px;
  }

  input {
    font-size: 14px;
  }

  select {
    font-size: 14px;
  }
}
